$color-1: #0E0E0E; // navigation background
$color-2: #FFFFFF; // navigation text
$color-3: #292929; // slider background
$color-4: #3AB6B2; // theme green color
$color-5: #707070; // border color
$color-6: #3B3B3B; // round icons background
