.slider {
    height: 213px;

    .arrow {
        display: none;
    }

    .container {
        width: 100%;

        h1 {
            margin-top: -8px;
            margin-right: 5px;
            margin-bottom: -1px;
            font-size: 25px;
            line-height: 30px;
        }

        h2 {
            font-size: 30px;
            line-height: 36px;
        }

        p {
            width: 275px;
            margin-bottom: 16.1px;
            overflow: hidden;
            font-size: 9px;
            line-height: 10.8px;
            white-space: nowrap;
        }

        a:not(.arrow) {
            width: 64px;
            height: 19px;
            font-size: 7px;
            line-height: 13.77px;

            &::before {
                width: 58px;
                height: 13px;
            }
        }
    }
}
