.slider {
    height: 593px;
    margin-bottom: 80px;

    .arrow {
        display: none;
    }

    .container {
        width: 100%;

        h1 {
            margin-right: 0;
            font-size: 58.81px;
            line-height: 70.57px;
        }

        h2 {
            margin-right: 8px;
            font-size: 71.77px;
            letter-spacing: -1px;
            line-height: 86.12px;
            word-spacing: -1px;
        }

        p {
            margin-right: 5px;
            margin-bottom: 35px;
            font-size: 18.94px;
            line-height: 22.73px;
        }

        a:not(.arrow) {
            margin-right: 6px;
        }
    }
}
