.slider {

    .container {
        width: 100%;
        height: 593px;

        h1 {
            font-size: 58.81px;
            line-height: 70.57px;
        }

        h2 {
            font-size: 71.77px;
            line-height: 86.12px;
        }

        p {
            font-size: 18.94px;
            line-height: 22.73px;
        }

        .arrow {
            display: none;
        }
    }
}
