header {

    .container {
        width: 93%;

        .logo {
            margin-top: 0;
            margin-left: -3.3px;

            &::before {
                margin-top: 1px;
            }
        }

        nav {
            display: none;
        }

        .burger-menu {
            display: flex;

            &::before {
                width: 50px;
                height: 33px;
            }
        }
    }
}
